@font-face {
  font-family: "Roboto Mono";
  src: url(../fonts/Roboto_Mono/static/RobotoMono-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Mono";
  font-size: 1.55vh;
  color: #0a062b;
  background: #172c3c;
}

.wrapForm {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formulario {
  position: relative;
  margin: 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 67.6vh;
  height: 87.05vh;
  background: #c6d4e1;
  box-shadow: 1.16vh 1.26vh 0px rgba(0, 0, 0, 0.7);
  border-radius: 16px;
}

.wrapLogoZamorano {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 0.6vw 0 0 2.42vh;
}

.logoZamorano {
  width: 3.88vh;
  height: 4.37vh;
}

main {
  width: 50.77vh;
  padding: 1.83vh 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prediosImg {
  width: 100%;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 0 0;
  margin: 0 0 0;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 2.22vh;
  line-height: 2.91vh;
  text-align: center;
  color: #0a062b;
}

.titleLine {
  background-color: #0a062b;
  width: 100%;
  height: 0.18vh;
  margin: 0.47vh 0 3.88vh;
  padding: 0;
  border-radius: 16px;
  border: none;
}
.wrapSolGrup {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wrapSizeP {
  width: 21.19vh;
  margin: 0 0 2.5vh;
  display: flex;
  flex-direction: column;
}

.wrapSizeG {
  width: 100%;
  margin: 0 0 2.5vh;
  display: flex;
  flex-direction: column;
}

.input {
  box-sizing: border-box;
  color: #0a062b;
  width: 100%;
  height: 3.88vh;
  background-color: transparent;
  border: none;
  font-family: "Roboto Mono";
  border-bottom: 0.18vh solid #0a062b;
}

.input::placeholder {
  color: rgba(10, 6, 43, 0.67);
  font-family: "Roboto Mono";
  font-size: 1.55vh;
}

.input:focus {
  outline: none;
  border: none;
  border-bottom: 0.18vh solid #0a062b;
}

.labelResponsavel {
  width: 100%;
  font-size: 1.55vh;
  line-height: 3.5vh;
  color: #0a062b;
}

.wrapAreaSolicitacao {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0 2.12vh;
}

.wrapLabInput {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2.12vh;
}

.labelAreaSolicitacao {
  width: 29.66vh;
  line-height: 2.03vh;
}

.inputAreaSolicitacao {
  box-sizing: border-box;
  background-color: transparent;
  width: 21.19vh;
  height: 3.4vh;
  text-indent: 1.93vh;
  border: 0.14vh solid #0a062b;
  border-radius: 16px;
  font-family: "Roboto Mono";
  font-size: 1.56vh;
}

.inputAreaSolicitacao::placeholder {
  color: rgba(10, 6, 43, 0.67);
  font-family: "Roboto Mono";
}

.selectAreaSolicitacao {
  box-sizing: border-box;
  font-size: 1.2vh;
  width: 100%;
  height: 2.8vh;
  color: rgba(10, 6, 43, 0.67);
  background: transparent;
  text-indent: 1.2vh;
  font-family: "Roboto Mono";

  border: 0.18vh solid #0a062b;
  border-radius: 16px;
}

.optionAreaSolicitacao {
  background-color: #c6d4e1;
  color: #172c3c;
  font-family: "Roboto Mono";
  font-size: 1.5vh;
  padding: 0.2vh 0.2vh;
  border-radius: 16px;
}

.wrapDescricao {
  width: 51.26vh;
  height: 14.25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin: 0 0 2.12vh;
}

.labelDescricao {
  line-height: 2.03vh;
}

.inputDescricao {
  width: 47.36vh;
  height: 8.55vh;
  background-color: transparent;
  border: 0.18vh solid #0a062b;
  resize: noned;
  border-radius: 8px;
  padding: 1.06vh 1.45vh;
  font-size: 1.56vh;
}

.botaoEnviar {
  width: 29.17vh;
  height: 4.28vh;
  text-align: center;
  background: #0a062b;
  border-radius: 16px;
  font-size: 2.12vh;
  color: #c6d4e1;
  border: none;
  cursor: pointer;
  transition: ease-in-out 0.1s;
}

.botaoEnviar:hover {
  background: #2f3c75;
}

.botaoEnviar:active {
  background: #5d72cf;
  box-shadow: inset 0 0 0 0.18vh #322c66;
}

.spanSuccess {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: ease-in-out 0.3s;
  opacity: 0;
}

.success {
  width: 28.01vh;
  height: 22.17vh;
  transition: ease-in-out 0.3s;
}

.hide {
  display: none;
}

html .show {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
}

html body .showMsg {
  opacity: 1;
  display: flex;
}

.wrapModeloLabel {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.wrapModelo {
  display: flex;
  align-items: center;
  padding: 4px 5px;
  gap: 16px;
  width: 423px;
  height: 31px;
}
